> @font-face {
	font-family: 'Source Sans PRO';
	src: url(source-sans-pro/SourceSansPro-Bold.otf) format('opentype');
}

body{
        background-color:rgb(221, 222, 222);
        width: 1200px;
        height: 1000px;
}

.nav {
    background-color: rgb(248, 248, 248);
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    margin-left: 10px;
    max-width: 50%;
}

.nav__item {
    position: relative;
    padding: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.nav__item:hover{
    border-top: solid;
    border-color: rgb(42, 74, 221);
    color:rgb(42, 74, 221);
}

.nav__item:first-child{
    color: rgb(42, 74, 221);
    border: none;
}

.nav__dropdown,
.nav__subdropdown {
    position: absolute;
    display: none;
    list-style: none;
    padding: 0;
    left: 0;
    top: 100%;
    background-color: rgb(4, 5, 4);
    color: aliceblue;
}

.nav__item:hover > .nav__dropdown,
.nav__dropdown-item:hover > .nav__subdropdown {
    display: block;
}

.nav__dropdown-item,
.nav__subdropdown-item {
    padding: 20px;
    width: 200px;
    position: relative;
}

.nav__dropdown-item:hover .nav__subdropdown-item {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: rgb(4, 5, 4);
    color: rgb(240, 248, 255);
}

.nav__dropdown,
.nav__subdropdown {
    position: absolute;
    display: none;
    list-style: none;
    padding: 0;
    background-color: rgb(4, 5, 4);
    color: rgb(248, 248, 248);
}

.nav__item:hover > .nav__dropdown {
    display: block;
}


.nav__subdropdown-item {
    padding: 20px;
    position: relative;
    left: -25%;
}

.nav__subdropdown {
    top: 0;
    left: 100%;
}

a[href]::after{
    content: '';
    display: inline-block;
    position: relative;
    left: 20%;
    border: 7px solid transparent;
    border-top-color: rgb(42, 74, 221);
    vertical-align: middle;
}

.nav__dropdown-item a[href]::after {
    content: '';
    display: inline-block;
    position: relative;
    left: 40%;
    border: 7px solid transparent;
    border-left-color: rgb(252, 252, 252);
    vertical-align: middle;
}









